<div class="main-navigation">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="<f:format.raw>{ado_logo}</f:format.raw>" width="77"  alt="Logo"/>
            </a>

            <f:cObject typoscriptObjectPath="lib.header_lang_menu" />

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <f:cObject typoscriptObjectPath="lib.header_menu" />

        </nav>
    </div>
</div>