<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <div class="card-service">
        <div class="card-body-service">
            <a href="{{service_link}}" class="service-image-link">
                <img src="{{service_image}}" class="card-img-top img-fluid card-img-service" alt="{{service_title}}">
            </a>
            <div class="row service-row">
                <div class="col-7">
                    <h5 class="card-title card-title-service">{{service_title}}</h5>
                </div>
                <div class="col-5 service-link-container">
                    <a href="{{service_link}}" class="card-link-service">{{service_link_text}}</a>
                </div>
            </div>

        </div>
    </div>

</div>