<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Content">
        <f:debug maxDepth="16">{columns.11}</f:debug>
        <div class="row">
            <div class="col-sm-6 col-md-4">

                <f:for each="{columns.11}" as="child">
                    <f:render partial="Child"
                          arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                </f:for>
                1

            </div>
            <div class="col-sm-6 col-md-4">
                2
                <f:for each="{columns.12}" as="child">
                    <f:render partial="Child"
                              arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                </f:for>
            </div>
            <div class="col-sm-6 col-md-4">
                3
                <f:for each="{columns.13}" as="child">
                    <f:render partial="Child"
                              arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                </f:for>
            </div>
        </div>
    </f:section>
</html>