<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Content">
        <f:debug maxDepth="16">{_all}</f:debug>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                1
                {data.tx_gridelements_view_column_11}
            </div>
            <div class="col-sm-6 col-md-4">
                2
                {data.tx_gridelements_view_column_12}
            </div>
            <div class="col-sm-6 col-md-4">
                3
                {data.tx_gridelements_view_column_13}
            </div>
        </div>
    </f:section>
</html>