<f:section name="Footer">
<footer class="footer footer-main">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">&copy; 2020 Theme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Impressum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Datenschutzerklärung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rechtliche Hinweise</a>
            </li>

        </ul>

    </div>
</footer>
</f:section>